{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Physical Web URL Shortener and Sensor Station",
    "description": "Documentation automatically generated by the <b>swagger-autogen</b> module."
  },
  "host": "breoteshr.ml",
  "basePath": "/",
  "tags": [
    {
      "name": "Station",
      "description": "Station registration system for enabling physical web"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/{uuid}": {
      "delete": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/station/{uuid}": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/{urlId}": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/{urlId}": {
      "get": {
        "tags": [],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    }
  },
  "definitions": {
    "Station": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "example": "ec2f07a3-2463-440b-af7a-2df34068c788"
        },
        "webid": {
          "type": "string",
          "example": "tentang"
        },
        "urlId": {
          "type": "string",
          "example": "BqX"
        },
        "shortUrl": {
          "type": "string",
          "example": "https://breoteshr.ml/BqX"
        },
        "longUrl": {
          "type": "string",
          "example": "https://madejombang.id/tentang/"
        },
        "sensors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id_sensor": {
                "type": "string",
                "example": "SEN187"
              },
              "type": {
                "type": "string",
                "example": "Smoke Sensor"
              },
              "value": {
                "type": "number",
                "example": 50
              },
              "valueUnit": {
                "type": "string",
                "example": "Smokiness"
              },
              "displayUnit": {
                "type": "string",
                "example": "%"
              },
              "minValue": {
                "type": "string",
                "example": "0"
              },
              "maxValue": {
                "type": "string",
                "example": "100"
              }
            }
          }
        }
      }
    },
    "Sensor": {
      "type": "object",
      "properties": {
        "id_sensor": {
          "type": "string",
          "example": "SEN2PB"
        },
        "type": {
          "type": "string",
          "example": "DHT11"
        },
        "value": {
          "type": "number",
          "example": 78
        },
        "valueUnit": {
          "type": "string",
          "example": "Humidity"
        },
        "displayUnit": {
          "type": "string",
          "example": "%"
        },
        "minValue": {
          "type": "string",
          "example": "0"
        },
        "maxValue": {
          "type": "string",
          "example": "100"
        }
      }
    }
  }
}